<h1 align="center">Developers</h1>

<ol>
  <% @developers.each do |developer| %>
    <li><%= link_to developer.name, developer %></li>
  <% end %>
</ol>


<%= link_to "home", user_path(@current_user) %>
