<h2 align="center">Projects for <%= link_to @current_user.name, user_path(@current_user) %></h2>

<ul>
  <% @projects.each do |project| %>
    <li><%=link_to project.name, project_path(project) %></li>
  <% end %>
</ul>


<p align="center"><%= link_to "add another project", new_project_path %></p>
