// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
color: white;
}

h5 {
color: white;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(to bottom right, purple, black);
  height: 700px;
  width: 50%;
  background-color: green;
}

.picture {
  background-image: url(https://i.pinimg.com/originals/e2/a1/71/e2a171ac91a1435c76a839b1510473c5.gif),
  url(https://data.whicdn.com/images/202020054/original.gif);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: 700px;
  width: 50%;
  background-color: pink;
  background-size: cover;
}

.loginbox_login {
  background-color: purple;
  padding: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  text-shadow: 2px 2px 8px #FF0000;
  margin: 180px auto 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.test {
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
